extends ../_layout.pug

block title 
    title Поиск номеров - Toxin Hotel

block content 
    include ../../blocks/header/_header.pug
    include ../../blocks/footer/_footer.pug
    include ../../blocks/libs/card/_card.pug
    include ../../blocks/libs/form-booking/_form-booking.pug
    include ../../blocks/libs/bullet-list/_bullet-list.pug
    include ../../blocks/libs/room-features/_room-features.pug
    include ../../blocks/libs/review/_review.pug

    +header('anonim', '')
    main.room-details 
        .room-details__imgs 
            img.imgs__img-main(src=require('../../images/rooms/888/room_888.jpg'), alt="room 888")
            img.imgs__img-1(src=require('../../images/rooms/888/preview_888_1.jpg'), alt="room 888")
            img.imgs__img-2(src=require('../../images/rooms/888/preview_888_2.jpg'), alt="room 888")
        .room-details__description.page-wrapper 
            .description__item.features 
                h2.item__title Сведения о номере

                +room-features(data.room.id888.features, '')
            .description__item.feelings
                h2.item__title Впечатления от номера
                .feelings__votes.donut.title-1 260
                    span.title-3 голосов
                ul.feelings__legend.text
                    li.legend__rating.rating_5 Великолепно
                    li.legend__rating.rating_4 Хорошо
                    li.legend__rating.rating_3 Удовлетворительно
                    li.legend__rating.rating_2 Разочарован
            .description__item.reviews 
                h2.item__title Отзывы посетителей номера
                    span.text.reviews__amount 2 отзыва
                +review(
                        data.room.id888.reviews.review.id1.author, 
                        data.room.id888.reviews.review.id1.avatar, 
                        data.room.id888.reviews.review.id1.date, 
                        data.room.id888.reviews.review.id1.likes, 
                        data.room.id888.reviews.review.id1.content)
                +review(
                        data.room.id888.reviews.review.id2.author, 
                        data.room.id888.reviews.review.id2.avatar, 
                        data.room.id888.reviews.review.id2.date, 
                        data.room.id888.reviews.review.id2.likes, 
                        data.room.id888.reviews.review.id2.content)
            .description__item.rules
                h2.item__title Правила
                +bullet-list('bullet list', data.room.id888.rules, '')
            .description__item.cancel
                h2.item__title Отмена
                p.text= data.room.id888.cancelation
            +card('description__item booking')
                +form-booking(
                    888, 
                    data.room.id888.category, 
                    data.room.id888.price)

    +footer('')