extends ../_layout.pug

block title 
    title Поиск номеров - Toxin Hotel

block content 
    include ../../blocks/header/_header.pug
    include ../../blocks/footer/_footer.pug
    include ../../blocks/libs/nav-header/_nav-header.pug
    include ../../blocks/libs/card/_card.pug
    include ../../blocks/libs/form-booking/_form-booking.pug
    include ../../blocks/libs/bullet-list/_bullet-list.pug
    include ../../blocks/libs/room-features/_room-features.pug
    include ../../blocks/libs/review/_review.pug

    +header('anonim', '')
        +nav-header('', items = navHeader, cls='') 
    main.room-details 
        .room-details__imgs 
            img.imgs__img-main(src=require('../../images/rooms/888/room_888.jpg'), alt="room 888")
            img.imgs__img-1(src=require('../../images/rooms/888/preview_888_1.jpg'), alt="room 888")
            img.imgs__img-2(src=require('../../images/rooms/888/preview_888_2.jpg'), alt="room 888")
        .room-details__description.page-wrapper 
            .description__item.features 
                h2.item__title Сведения о номере
                - 
                    var rooms = [
                        {
                            item: 'Комфорт',
                            description: 'Шумопоглощающие стены ',
                            icon: 'insert_emoticon',
                        },
                        {
                            item: 'Удобство',
                            description: 'Окно в каждой из спален',
                            icon: 'location_city',
                        },
                        {
                            item: 'Уют',
                            description: 'Номер оснащён камином',
                            icon: 'whatshot',
                        }
                    ]
                +room-features(rooms, 'cls')
            .description__item.feelings
                h2.item__title Впечатления от номера
                .feelings__votes.donut.title-1 260
                    span.title-3 голосов
                ul.feelings__legend.text
                    li.legend__rating.rating_5 Великолепно
                    li.legend__rating.rating_4 Хорошо
                    li.legend__rating.rating_3 Удовлетворительно
                    li.legend__rating.rating_2 Разочарован
            .description__item.reviews 
                h2.item__title Отзывы посетителей номера
                    span.text.reviews__amount 2 отзыва
                +review('Мурад Сарафанов', 'avatar_user_1.jpg', '5 дней назад', 12, 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')
                +review('Патрисия Стёклышкова', 'avatar_user_2.jpg', 'Неделю назад', 2, 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент')
            .description__item.rules
                h2.item__title Правила
                +bullet-list('bullet list', roomRules, 'w266')
            .description__item.cancel
                h2.item__title Отмена
                p.text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
            +card('description__item booking')
                +form-booking(888, 'люкс', '9 990')
    -
        var footerlinks = [
            {
                name: 'О нас',
                link: '#',
                expand: '',
            },
            {
                name: 'Услуги',
                link: '#',
                expand: 'y',
            },
            {
                name: 'Вакансии',
                link: '#',
                expand: '',
            },
            {
                name: 'Новости',
                link: '#',
                expand: '',
            },
        ]
    -
        var toxinSocials = [
            {
                network: 'twitter',
                url: 'https://twitter.com/'
            },
            {
                network: 'facebook-square',
                url: 'https://facebook.com/'
            },
            {
                network: 'instagram',
                url: 'https://instagram.com/'
            }
        ]
    +footer('')