include __menu/_dropdawn__menu.pug

mixin dropdawn(name, width="w266")
    .dropdawn(class=`${width}`)
        label.title-3= name
        button.text.dropdawn__btn(id="ddbtn" onclick="show()") CONTENT 
        block