.subscription {
    width: fit-content;
    position: relative;

    &__text-field {
        padding-right: 4.4rem;
        margin-top: 0;
    }

    &__btn {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 4.4rem;
        background-color: transparent;

        &::after {
            content:'arrow_forward';
            text-transform: none;
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            font-size: 2.4rem;
            color: $blue;
            vertical-align: middle;
        }
    }
}