mixin nav-header(linkIds= ["about-us", "services", "job", "news", "agreements"], cls='') 
    nav.header__nav.nav(class=`${cls}`)
        each linkId in linkIds
            - var name = data.toxinLinks.internal[linkId].name
            - var url = data.toxinLinks.internal[linkId].url
            - var expand = data.toxinLinks.internal[linkId].expand
            
            if expand === 'y'
                a.text.nav__link.nav__link_expand(href= url, label= name)= name
            else 
                a.text.nav__link(href= url, label= name)= name
