extends ../_layout.pug

block content 
    //- h1 hvbavb 
    //- h2 Привет из ui
    //- h3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis ad, adipisci sequi vel illo deleniti tenetur fugit explicabo, quaerat, nisi ipsa necessitatibus doloribus dolor dolorum fuga! Aliquam, blanditiis odit!
    //- p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque eius quas dolorem porro quia fugiat unde assumenda dolore aspernatur autem sint veritatis eaque saepe temporibus culpa sapiente totam, libero cumque.
    //- +text-field('text-field', 'text', 'id', 'Placeholder', 'w320', '')
    //- +sub('w320')
    //- +btn('click me', 'btn_theme_purple w99')
    //- +btn('Click me', 'btn_theme_ligth w99')
    //- br
    //- +btn('click me', 'btn_theme_icon-link')
    //- br
    //- +btn('Перейти к оплате', 'btn__arrow btn_theme_purple w320')
    //- br
    //- +btn('', 'btn_theme_round-green btn__arrow')
    //- br
    //- +btn('-', 'btn_theme_round-gray')
    //- br
    //- +btn('+', 'btn_theme_round-gray')
    //- br
    //- br
    //- +radio
    //- br
    //- +toggle('Получать спецпредложения', 'mailing')
    //- br
    //- +like-btn(12)
    //- +rating(4)
    //- br
    //- +checkbox('Можно курить', 'smoking')
    //- br
    //- +checkbox-rich('Широкий коридор', 'Ширина коридоров в номере не менее 91 см.', 'corridor')
    //- br
    //- +bullet-list('Правила')
    //- +room-features
    //- +social-icons
    +dropdawn('rooms', 'drop-b', 'w320')
        +menu(['Спальни', 'Кровати', 'Ванные комнаты'], '')
    +dropdawn('guests', 'Название', 'w320')
        +menu(['Взрослые', 'Дети', 'Младенцы'], 'c')