extends ../_layout.pug

block content 
    h1 hvbavb 
    h2 Привет из ui
    h3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis ad, adipisci sequi vel illo deleniti tenetur fugit explicabo, quaerat, nisi ipsa necessitatibus doloribus dolor dolorum fuga! Aliquam, blanditiis odit!
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque eius quas dolorem porro quia fugiat unde assumenda dolore aspernatur autem sint veritatis eaque saepe temporibus culpa sapiente totam, libero cumque.
    +text-field('text-field', 'text', 'id', 'Placeholder', 'w320', '')
    +sub('w320')