@import '../../styles/_styles.scss';
@import '../../blocks/header/_header.scss';
@import '../../blocks/footer/_footer.scss';
@import '../../blocks/libs/card/card';
@import '../../blocks/libs/form-search/form-search';
@import '../../blocks/libs/form-user/form-user';

.landing {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    @include bg-keyframes('bg-search', 30s, 5s, '../../images/bg_1.jpg', '../../images/bg_2.jpg', '../../images/bg_3.jpg');

    height: 827.0px;
    padding: 68.0px 0 22.0px;
    box-sizing: border-box;

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .tagline {
            align-self: flex-end;
            text-align: right;
            width: 297.0px;
        }
    }
}