extends ../_layout.pug 

block title 
    title Toxin Hotel 

block content 
    include ../../blocks/header/_header.pug
    include ../../blocks/footer/_footer.pug
    include ../../blocks/libs/card/_card.pug
    include ../../blocks/libs/form-search/_form-search.pug
    include ../../blocks/libs/form-user/_form-user.pug

    +header('Константин Константинопольский', '')
    main.landing
        .page-wrapper.landing__container
            +card('search__card')
                +form-search('')
            p.text.tagline Лучшие номера для вашей работы, отдыха и просто вдохновения
    +footer('')