include ../room-id/_room-id.pug
include ../rating/_rating.pug

mixin room-card(roomId, category, price, rating, reviews, cls='')
    .room-card(class=`${cls}`)
        a(href= data.toxinLinks.internal.RoomDetails.url) 
            img.room-card__slider(src= require(`../../images/rooms/${roomId}/sketch_${roomId}.jpg`), alt="room")
        .room-card__content
            a(href= data.toxinLinks.internal.RoomDetails.url) 
                +room-id(roomId, category, price, 'room-card__room')
            .room-card__testimonials
                +rating('room' + roomId + '_rating_', rating, 'disabled', 'testimonials__rating')
                span.testimonials__reviews= reviews