body {
    margin: 5px; 
    background-color: #fff;
}

p, button, li, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    border: none;
}

input, button {
    font-family: inherit;
}
