@import '../../styles/_styles.scss';
@import '../../blocks/header/_header.scss';
@import '../../blocks/footer/_footer.scss';
@import '../../blocks/libs/card/card';
@import '../../blocks/libs/form-user/form-user';

.sign-in {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    @include bg-keyframes('bg-sign-in', 30s, 5s, '../../images/bg_4.jpg', '../../images/bg_5.jpg');

    height: 700.0px;

    @media (max-device-width: 420px) {
        height: calc(100vh - $header-height);
    }

        &__container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
}