@import '../../styles/_styles.scss';
@import '../../blocks/header/_header.scss';
@import '../../blocks/footer/_footer.scss';
@import '../../blocks/libs/room-card/_room-card.scss';
@import '../../blocks/libs/pagination/_pagination.scss';
@import '../../blocks/libs/filters/_filters.scss';

.search-content {
    padding-top: 30.0px;
        display: flex;

    @media (max-device-width: 930px) {
        flex-direction: column;
    }

    &__filters {
        padding-right: 60.0px;

        @media (max-device-width: 930px) {
            padding-right: 0;
        }
    }
    .results{
        @media (max-device-width: 930px) {
            margin-top: 50px;
        }

        &__title {
            margin-bottom: 20px;
            @media (max-device-width: 930px) {
                text-align: center;
            }
        }
        &__content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: flex-start;
            align-content: flex-start;
            column-gap: 12.0px;
            row-gap: 21.0px;
        }
        &__pagination {
            margin: 40px auto 69.0px;
        }
    }
}
