@import '../../styles/_styles.scss';
@import '../../blocks/header/_header.scss';
@import '../../blocks/footer/_footer.scss';
@import '../../blocks/libs/dropdawn/_dropdawn.scss';
@import '../../blocks/libs/datepicker/_datepicker.scss';
@import '../../blocks/libs/filter-options/_filter-options.scss';
@import '../../blocks/libs/range-slider/_range-slider.scss';
@import '../../blocks/libs/checkbox/_checkbox.scss';
@import '../../blocks/libs/expandable/_expandable.scss';
@import '../../blocks/libs/room-card/_room-card.scss';
@import '../../blocks/libs/pagination/_pagination.scss';

.search-content {
    padding-top: 30.0px;
    display: flex;


    .filters {
        flex: 0 0 266.0px;
        padding-right: 60.0px;
        &__filter {
            width: 100%;
            margin-bottom: 30.0px;
    
            .filter__label {
                display: block;
                margin-bottom: 16.0px;
            }
            .checkbox {
                margin-bottom: 10.0px;
            }
            .range-slider__note {
                font-size: 12.0px;
                margin-top: 14.0px;
                line-height: 14.0px;
                color: $dark50;
            }
        }
        .filter_lower {
            margin-bottom: 20.0px;
        }
        .filter_lowest {
            margin-bottom: 10.0px;
        }

    }
    .results{
        flex: 1 1 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        align-content: flex-start;
        column-gap: 12.0px;
        row-gap: 21.0px;

        &__title {
            flex: 0 0 100%;
        }
        &__item {

        }
        &__pagination {
            margin: 17.0px 0 69.0px;
        }
}
}
