extends ../_layout.pug

block title 
    title Поиск номеров - Toxin Hotel

block content 
    include ../../blocks/header/_header.pug
    include ../../blocks/footer/_footer.pug
    include ../../blocks/libs/filters/_filters.pug
    include ../../blocks/libs/room-card/_room-card.pug
    include ../../blocks/libs/pagination/_pagination.pug

    +header('anonim', '')
    .page-wrapper.search-content
        
        +filters('search-content__filters')
        main.results
            h1.results__title Номера, которые мы для вас подобрали
            .results__content
                each room in [888, 840, 980, 856, 740, 982, 678, 450, 350, 666, 444, 352]
                    - var roomId = 'id' + room
                    +room-card(
                        room, 
                        data.room[roomId].category, 
                        data.room[roomId].price, 
                        data.room[roomId].rating, 
                        data.room[roomId].reviews.total, 
                        'results__item')
            +pagination('results__pagination', 15, [1, 2, 3])

    +footer('')