extends ../_layout.pug

block title 
    title Поиск номеров - Toxin Hotel

block content 
    include ../../blocks/header/_header.pug
    include ../../blocks/footer/_footer.pug
    include ../../blocks/libs/nav-header/_nav-header.pug
    include ../../blocks/libs/dropdawn/_dropdawn.pug
    include ../../blocks/libs/datepicker/_datepicker.pug
    include ../../blocks/libs/filter-options/_filter-options.pug
    include ../../blocks/libs/range-slider/_range-slider.pug
    include ../../blocks/libs/checkbox/_checkbox.pug
    include ../../blocks/libs/expandable/_expandable.pug
    include ../../blocks/libs/room-card/_room-card.pug
    include ../../blocks/libs/pagination/_pagination.pug

    +header('anonim', '')
        +nav-header('', items = navHeader, cls='') 
    .page-wrapper.search-content
        aside.filters
            +dropdawn('stayDates', 'Даты пребывания в отеле', 'filters__filter')
                +datepicker('datepicker')
            +dropdawn('guests', 'Гости', 'filters__filter')
                +filter-options('guestsFilter', ['Взрослые','Дети','Младенцы'], '', 'c')
            +range-slider('Диапазон цен', 'filters__filter')
                p.text.range-slider__note Стоимость за сутки пребывания в номере
            .filters__filter
                label.title-3.filter__label Правила дома
                +checkbox('short', 'Можно курить', '', 'smoke', 'cls', '', '')
                +checkbox('short', 'Можно с питомцами', '', 'pats', 'cls', 'c', '')
                +checkbox('short', 'Можно пригласить гостей (до 10 человек)', '', 'party', 'cls', 'c', '')
            .filters__filter
                label.title-3.filter__label Доступность
                +checkbox('rich', 'Широкий коридор', 'Ширина коридоров в номере не менее 91 см.', 'wideCorridor', 'cls', '', '')
                +checkbox('rich', 'Помощник для инвалидов', 'На 1 этаже вас встретит специалист  и проводит до номера.', 'disabledHelper', 'cls', '', '')
            +dropdawn('roomOptions', 'dropdawn', 'filters__filter')
                +filter-options('roomOptionsFilter', ['Спальни','Кровати','Ванные комнаты'], 'cls', '')
            +expandable('roomOptionsExtra', 'expandable checkbox list', 'filters__filter')
                +checkbox('short', 'Завтрак', '', 'breakfast', 'cls', '', '')
                +checkbox('short', 'Письменный стол', '', 'table', 'cls', 'c', '')
                +checkbox('short', 'Стул для кормления', '', 'chair', 'cls', 'c', '')
                +checkbox('short', 'Кроватка', '', 'bed', 'cls', 'c', '')
                +checkbox('short', 'Телевизор', '', 'tv', 'cls', '', '')
                +checkbox('short', 'Шампунь', '', 'shampoo', 'cls', '', '')

        main.results
            h1.results__title Номера, которые мы для вас подобрали
            +room-card(888, 'люкс', '9 990', 5, 145, 'results__item')
            +room-card(888, 'люкс', '9 990', 5, 145, 'results__item')
            +room-card(888, 'люкс', '9 990', 5, 145, 'results__item')
            +room-card(888, 'люкс', '9 990', 5, 145, 'results__item')
            +room-card(888, 'люкс', '9 990', 5, 145, 'results__item')
            +room-card(888, 'люкс', '9 990', 5, 145, 'results__item')
            +room-card(888, 'люкс', '9 990', 5, 145, 'results__item')
            +room-card(888, 'люкс', '9 990', 5, 145, 'results__item')
            +room-card(888, 'люкс', '9 990', 5, 145, 'results__item')
            +room-card(888, 'люкс', '9 990', 5, 145, 'results__item')
            +room-card(888, 'люкс', '9 990', 5, 145, 'results__item')
            +room-card(888, 'люкс', '9 990', 5, 145, 'results__item')
            +pagination('results__pagination', 15, [1, 2, 3])
    -
        var footerlinks = [
            {
                name: 'О нас',
                link: '#',
                expand: '',
            },
            {
                name: 'Услуги',
                link: '#',
                expand: 'y',
            },
            {
                name: 'Вакансии',
                link: '#',
                expand: '',
            },
            {
                name: 'Новости',
                link: '#',
                expand: '',
            },
        ]
    -
        var toxinSocials = [
            {
                network: 'twitter',
                url: 'https://twitter.com/'
            },
            {
                network: 'facebook-square',
                url: 'https://facebook.com/'
            },
            {
                network: 'instagram',
                url: 'https://instagram.com/'
            }
        ]
    +footer('')