//- ==================================================================
    in case to show/hide dropdawn content class dropdawn__content &
    id+Content must be added at mixin called in block
    ==================================================================

mixin dropdawn(id, label, cls)
    .dropdawn(class=`${cls}`)
        label.dropdawn__title.title-3= label
        button.text.dropdawn__btn(id=`${id}` onclick="show()") CONTENT 
        block