mixin menu(id, items, cls, controls= '')
    .dropdawn__menu(id=`${id}`, class=`${cls}`)
        each item in items
            .item
                span.title-3.item__item= item
                span.item__setting
                    +btn('-', 'btn_theme_round-gray')
                    span.title-3.item__amount 0
                    +btn('+', 'btn_theme_round-gray')
        if controls == 'c'
            .controls
                +btn('Очистить', 'btn_theme_icon-link')
                +btn('Применить', 'btn_theme_icon-link')