mixin room-features(features, cls='')
    ul.room-features(class=`${cls}`)
        each feature in features
            li.text.room-features__item(class=feature.icon)= feature.item
                p.text.room-features__description= feature.description