// TODO try to take out in vars.pug
-
    var sexSelect = [
        {
            id: 'male',
            label: 'Мужчина'
        },
        {
            id: 'female',
            label: 'Женщина'
        },
    ]

mixin radio(name='sex', radioContent = sexSelect, cls='')    
    each item in radioContent
        .radio(class=`${cls}`)
            input(type="radio" name=`${name}` id=item.id)
            label.radio__label.text.radio__custom(for=item.id)= item.label