.dropdawn__menu {
    display: none;
    width: inherit;
    box-sizing: border-box;
    padding-left: 1.5rem;
    padding-right: 0.7rem;
    padding-top: 0.7rem;
    border: 0.1rem solid $dark50;
    border-top: none;
    border-radius: 0 0 .4rem .4rem;

    .item {
        padding-bottom: 0.7rem;
        display: flex;
        justify-content: space-between;

        &__name {
            align-self: center;
        }

        &__setting {
            width: 9.2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__amount {

        }
    }

    .controls {
        display: flex;
        justify-content: space-between;
        padding: 1.2rem 0 1.3rem;
    }
}