@import '../../styles/_styles.scss';
@import '../../blocks/libs/text-field/_text-field.scss';
@import '../../blocks/libs/dropdawn/_dropdawn.scss';
@import '../../blocks/libs/datepicker/_datepicker.scss';
@import '../../blocks/libs/subscription/_subscription.scss';
@import '../../blocks/libs/checkbox/_checkbox.scss';
@import '../../blocks/libs/radio/_radio.scss';
@import '../../blocks/libs/toggle/_toggle.scss';
@import '../../blocks/libs/like-btn/_like-btn.scss';
@import '../../blocks/libs/rating/_rating.scss';
@import '../../blocks/libs/range-slider/_range-slider.scss';
@import '../../blocks/libs/btn/_btn.scss';
@import '../../blocks/libs/pagination/_pagination.scss';
@import '../../blocks/libs/filter-options/_filter-options.scss';
@import '../../blocks/libs/expandable/_expandable.scss';
@import '../../blocks/libs/bullet-list/_bullet-list.scss';
@import '../../blocks/libs/room-features/_room-features.scss';
@import '../../blocks/libs/review/_review.scss';

.elements {
    display: flex;
    flex-direction: column;
    padding-left: 19.0px;

    &__section {
        display: flex;
        justify-content: space-between;
        .col {
            flex: 0 0 320.0px;
            &_left {
                
            }
            &_center {
                margin-left: 126.0px;
                margin-right: 72.0px;
            }
            &_right {
                
            }
            & .item__title:not(:first-of-type) {
                margin-top: 40.0px;
            }
        }
        &_1 {
            height: 636.0px;
            margin-bottom: 97.0px;
        }
        &_2 {
            height: 266.0px;
            margin-bottom: 40.0px;
        }
        &_3 {
            height: 281.0px;
            margin-bottom: 100.0px;
        }
        &_4 {
            height: 158.0px;
            margin-bottom: 131.0px;

            .col.col_right {
                flex: 0 0 714.0px;
            }
        }
        .elements__item {
            margin-bottom: 21.0px;
            &_inline {
                display: flex;
                justify-content: space-between;
            }
            &_high {
                margin-bottom: 40.0px;
            }
            &_low {
                margin-bottom: 11.0px;
            }
            .item__title {
                margin-bottom: 16.0px;
            }
            & .checkbox {
                width: 222.0px;
                margin-bottom: 11.0px;
            }
            & .toggle {
                margin-bottom: 15.0px;
            }
            & .btn-justify {
                margin-right: 10.0px;
            }
            &.item__expandable {
                margin-bottom: 10.0px;
            }
            &.item__rating {
                display: flex;
                flex-wrap: wrap;

                .item__title {
                    flex: 0 0 100%;
                }

                .rating:first-of-type {
                    margin-right: 20.0px;
                }

            }
            .item__btn {
                margin-bottom: 20.0px;
                margin-right: 20.0px;
                &.btn_theme_purple.btn__arrow {
                    margin-bottom: 28.0px;
                }
            }
            &.item__rich-chk {
                margin-top: 14.0px;
                .checkbox {
                    width: 260.0px;
                }
            }
            &.item__bullet-list {
                padding-top: 14.0px;
            }
            & .review {
                max-width: 708px;
                margin-top: 10.0px;
            }
            
        }
    }
}