mixin expandable(id, name, cls='')
    .expandable(class=`${cls}`)
        button.title-3.expandable__btn(id=`${id}` onclick="show()")= name
        .expandable__content(id=`${id}Content`)
            block