mixin expandable(id, name, width="w266")
    .expandable(class=`${width}`)
        button.title-3.expandable__btn(id=`${id}` onclick="show()")= name
        .expandable__content(id=`${id}Content`)
            block