extends ../_layout.pug 

block title 
    title Регистрация аккаунта - Toxin Hotel 

block content 
    include ../../blocks/header/_header.pug
    include ../../blocks/footer/_footer.pug
    include ../../blocks/libs/nav-header/_nav-header.pug
    include ../../blocks/libs/card/_card.pug
    include ../../blocks/libs/form-user/_form-user.pug

    +header('anonim', '')
        +nav-header(["aboutUs", "services", "job", "news", "agreements"], '') 
    main.registration
        .page-wrapper.registration__container
            +card('registration__registration-card')
                +form-user('n', '')

    +footer('')