@import '../../styles/_styles.scss';
@import '../../blocks/header/_header.scss';
@import '../../blocks/footer/_footer.scss';
@import '../../blocks/libs/card/card';
@import '../../blocks/libs/form-user/form-user';

.registration {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    @include bg-keyframes('bg-registration', 30s, 5s, '../../images/bg_4.jpg', '../../images/bg_5.jpg');

    height: 684.0px;

        &__container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
}