- 
    var roomRules = [
        "Нельзя с питомцами", 
        "Без вечеринок и мероприятий", 
        "Время прибытия — после 13:00, а выезд до 12:00",
        ]

mixin bullet-list(title, items = roomRules, cls='')
    .bullet-list(class=`${cls}`)
        h3.bullet-list__title= title 
        ul.bullet-list__container
            each item in items
                li.text.container__item= item