include ../text-field/_text-field.pug

mixin subscription(label= '', cls='')
    form.subscription(action="#", method="post", class=`${cls}`) 
        +text-field(label, 'email', 'email', 'Email', 'subscription__text-field')
        button.subscription__btn(type="submit")