@import '../../styles/_styles.scss';

.navigation {
    width: 760.0px;
    margin: 50.0px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__section {
        flex: 0 1 50%;

        .col {
            width: fit-content;
            margin: 0 auto;
        }
    }
    &__link {
        display: block;
        padding-top: 20.0px;
        padding-left: 20.0px;

        &:hover {
            color: $purple;
        }
    }
    .sandbox-link {
        flex-basis: 40.0px;
        margin-top: 30.0px;
        
        &::after {
            @include material-pseudo("toys_fan", 40.0px, 400);
            display: block;
            width: 40.0px;
            color: $green;
        }
    }
}