@import '../../styles/_styles.scss';

.navigation {
    width: 76rem;
    margin: 5rem auto;
    display: flex;

    &__section {
        flex: 0 1 50%;
    }
    &__link {
        display: block;
        padding-top: 2rem;
        padding-left: 2rem;

        &:hover {
            color: $purple;
        }
    }
}