extends ../_layoutpromo.pug

block title 
    title Обучение MetaLamp. Вторая часть.

block content 
    nav.navigation
        .navigation__section
            .col
                h2.title-1 Ui kit
                each linkId in ["ColorsAndType", "FormElements", "Cards", "HeadersAndFooters"]
                    a.navigation__link.title-3(href= data.toxinLinks.internal[linkId].url)= data.toxinLinks.internal[linkId].name
        .navigation__section
            .col
                h2.title-1 Website pages
                each linkId in ["LandingPage", "SearchRoomFilter", "RoomDetails", "Registration", "SignIn"]
                    a.navigation__link.title-3(href= data.toxinLinks.internal[linkId].url)= data.toxinLinks.internal[linkId].name
        a.sandbox-link(href="./sandbox.html") 
        