@import '../../styles/_styles.scss';

.navigation {
    width: 76rem;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__section {
        flex: 0 1 50%;

        .col {
            width: fit-content;
            margin: 0 auto;
        }
    }
    &__link {
        display: block;
        padding-top: 2rem;
        padding-left: 2rem;

        &:hover {
            color: $purple;
        }
    }
    .sandbox-link {
        flex-basis: 4rem;
        margin-top: 3rem;
        
        &::after {
            @include material-pseudo("toys_fan", 4rem, 400);
            display: block;
            width: 4rem;
            color: $green;
        }
    }
}