extends ../_layoutpromo.pug

block title 
    title Обучение MetaLamp. Вторая часть.

block content 
    nav.navigation
        .navigation__section
            .col
                h2.title-1 Ui kit
                a.navigation__link.title-3(href="./colors-type.html") Colors and type
                a.navigation__link.title-3(href="./form-elements.html") Form Elements
                a.navigation__link.title-3(href="./cards.html") Cards 
                a.navigation__link.title-3(href="./headers-footers.html") Headers and Footers
        .navigation__section
            .col
                h2.title-1 Website pages
                a.navigation__link.title-3(href="./landing.html") Landing Page
                a.navigation__link.title-3(href="./search-filter.html") Search room/Filter
                a.navigation__link.title-3(href="./room-details.html") Room details
                a.navigation__link.title-3(href="./sign-in.html") Registration and Sign in
        a.sandbox-link(href="./sandbox.html") 
        