@import '../../styles/_styles.scss';

main {
    margin: 2.0px 135.0px 145.0px 150.0px;
    display: flex;
    justify-content: space-between;

    .col {
        flex: 0 1 39.3%;
    }
    
    .colors {
        max-width: 281.0px;
    
        &__color {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;     
            align-items: center;
            margin-bottom: 20.0px;
    
            .color {
    
                &__palette {
                    display: block;
                    width: 70.0px;
                    height: 70.0px;
                    border-radius: 6.0px;
                    margin-right: 40.0px;
    
                        &.dark100 {background-color: $dark100;}
                        &.dark75 {background-color: $dark75;}
                        &.dark50 {background-color: $dark50;}
                        &.dark25 {background-color: $dark25;}
                        &.dark5 {background-color: $dark5;}
                        &.purple {background-color: $purple;}
                        &.green {background-color: $green;}
                }
    
                &__name {
                    line-height: 28.0px;
    
                    span {
                        display: block;
                        font-weight: 400;
                    }
                }
            }
        }
    }
    .type {
        max-width: 436.0px;
    
        &__item {
            margin-bottom: 51.0px;
            display: flex;
            justify-content: left;
    
            &:last-child {
                padding-right: 68.0px;
            }
        }
        &__name {
            flex: 0 0 37.0px;
            text-align: right;
            font-weight: 400;
            color: $dark25;
        }
        &__example {
            margin-left: 30.0px;
        }
    }
}