@import '../libs/homepage/_homepage.scss';
@import '../libs/subscription/_subscription.scss';
@import '../libs/link-group/_link-group.scss';
@import '../libs/social-icons/_social-icons.scss';

.footer {
    background: $white;

    &__top {
        padding: 10.7rem 0 9.8rem;
        border-top: 0.1rem solid $dark25;
        @media (max-device-width: 768px) {
            display: none;
        }

        .page-wrapper {
            display: flex;
            justify-content: space-between;

            .col__title {
                min-height: 3.4rem;
            }
            .footer {
                &__logo {
                    display: block;
                    margin-bottom: 1.7rem;
                }
                &__col_left {
                    flex: 0 0 22%;
                    margin-top: -0.4rem;
                }
                &__col_right {
                    flex: 0 0 22%;
                }
                &__col_center {
                    flex: 0 0 47.4%;
                    display: flex;
                    justify-content: space-between;

                    .center__column:last-child {
                        margin-left: 3.9rem;
                    }
                }
                &__subscription {
                    margin-top: 2.3rem;
                }
            }  
        }
    }

    &__bottom {
        border-top: 0.1rem solid $dark10;
        padding: 2.3rem 0;
        
        @media (max-device-width: 768px) {
            padding: 11.9rem 0;
            height: 36.7rem;
            box-sizing: border-box;
        }

        .page-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-device-width: 768px) {
                flex-direction: column;
                height: 100%;
            }

            .footer {
                &__logo {
                    display: none;

                    @media (max-device-width: 768px) {
                        display: block;
                    }
                }
            }
        }
    }
}