mixin link-group(linkIds, cls='')
    .link-group(class=`${cls}`)
        each linkId in linkIds
            .link-group__link
                a.text(href= data.toxinLinks.internal[linkId].url)= data.toxinLinks.internal[linkId].name