mixin form-card(title, footer='')
    form(action="#", method="post").form-card
        span.title-1.form-card__title= title
        block
        if footer === 'login'
            .form-card__footer 
                span.text Уже есть аккаунт на Toxin
                +btn('Войти', 'btn_theme_ligth w99')
        else if footer === 'create'
            .form-card__footer 
                span.text Нет аккаунта на Toxin?
                +btn('Создать', 'btn_theme_ligth w99')