mixin form-card(title, footer='')
    form(action="#", method="").form-card
        span.title-1.form-card__title= title
        block
        if footer === 'login'
            .form-card__footer 
                span.text Уже есть аккаунт на Toxin
                +btn('Войти', 'btn_theme_ligth w99')
        else if footer === 'create'
            .form-card__footer 
                span.text Нет аккаунта на Toxin?
                +btn('Создать', 'btn_theme_ligth w99')

mixin bookig(id, category, price)
    form.booking(action="#", method="")
        .room
            h2.room__id= id 
                span.room__category= category
            .room__price
                span.rub= price 
                span.period  в сутки
        .form-card__line
            +dropdawn('dp', 'Прибытие', 'w150 datepicker')
            +dropdawn('dp', 'Выезд', 'w150 datepicker')
        .form-card__line
            +dropdawn('guests', 'Гости', 'w320')
                +menu(['Взрослые', 'Дети', 'Младенцы'], 'c')
        .form-card__line.booking__calculation 
            .calculation__service
                span.service__description 9 990₽ х 4 суток
                span.service__price 39 960₽
            .calculation__service
                span.service__description.tooltip Сбор за услуги: скидка 2 179₽
                span.service__price 0₽    
            .calculation__service
                span.service__description.tooltip Сбор за дополнительные услуги
                span.service__price 300₽
            .calculation__total 
                span Итого
                span.total__sum 38 081₽