include ../btn/_btn.pug

mixin filter-options(id, items, cls, controls= '')
    .filter-options(id=`${id}`, class=`${cls}`)
        each item in items
            .filter-options__option.option
                span.title-3.option__name= item
                span.option__settings
                    +btn('-', 'btn_theme_round-gray')
                    span.title-3 0
                    +btn('+', 'btn_theme_round-gray')
        if controls == 'c'
            .filter-options__controls.controls
                +btn('Очистить', 'btn_theme_icon-link')
                +btn('Применить', 'btn_theme_icon-link')