mixin burger(cls='')
    .burger(class=`${cls}`)
        input(type="checkbox", name="burgerToggle", id="burgerToggle")
        label.burger__btn(for="burgerToggle")
            span
    .burger-overlay