$dark100: rgba(31, 32, 65, 1);
$dark75: rgba(31, 32, 65, 0.75);
$dark50: rgba(31, 32, 65, 0.5);
$dark25: rgba(31, 32, 65, 0.25);
$dark10: rgba(31, 32, 65, 0.1);
$dark5: rgba(31, 32, 65, 0.05);
$purple: rgba(188, 156, 255, 1);
$purple-gradient-end: rgba(139, 164, 249, 1);
$green: rgba(111, 207, 151, 1);
$green-gradient-end: rgba(102, 210, 234, 1);
$blue: rgba(164, 160, 253, 1);
$orange: rgba(255, 186, 156, 1);
$orange-gradient-end: rgba(255, 227, 156, 1);
$lg-purple: linear-gradient(180deg, $purple 0%, $purple-gradient-end 100%);
$lg-purple25: linear-gradient(180deg, rgba($purple, 0.25) 0%, rgba($purple-gradient-end, 0.25) 100%);
$lg-green: linear-gradient(180deg, $green 0%, $green-gradient-end 100%);

$white: rgba(255, 255, 255, 1);
$litegray: rgba(244, 244, 246, 1);
$midgray: rgba(145, 145, 145, 1);
$grayblue: rgba(61, 73, 117, 1);
$black20: rgba(0, 0, 0, 0.2);
$black12: rgba(0, 0, 0, 0.12);

$header-height: 70px;