html {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

* {
    scrollbar-color: $purple transparent;
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: $purple;
    border-radius: 5px;
  }

body {
    background-color: $white;
}

h1, .title-1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24.0px;
    line-height: 29.0px;
    color: $dark100;
}

h2, .title-2 {
    font-style: normal;
    font-weight: 700;
    font-size: 19.0px;
    line-height: 23.0px;
    color: $dark100;
}

h3, .title-3 {
    font-style: normal;
    font-weight: 700;
    font-size: 12.0px;
    line-height: 15.0px;
    text-transform: uppercase;
    color: $dark100;
}

p, .text {
    font-style: normal;
    font-weight: 400;
    font-size: 14.0px;
    line-height: 24.0px;
    color: $dark75;
}

.rub {
    &::after {
        content: '₽'
    }
}

.page-wrapper {
    max-width: 1160.0px;
    padding: 0 10.0px;
    margin: 0 auto;
}

.w320 {width: 320.0px;}
.w266 {width: 266.0px;}
.w260 {width: 260.0px;}
.w196 {width: 196.0px;}
.w150 {width: 150.0px;}
.w99 {width: 99.0px;}
.w87 {width: 87.0px;}