html {
    font-size: 10px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

* {
    // outline: 1px dotted red;
    scrollbar-color: $purple transparent;
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: $purple;
    border-radius: 5px;
  }

body {
    // background-color: $orange !important;
}

h1, .title-1 {
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: $dark100;
}

h2, .title-2 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 2.3rem;
    color: $dark100;
}

h3, .title-3 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    color: $dark100;
}

p, .text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: $dark75;
}

.rub {
    &::after {
        content: '₽'
    }
}

.page-wrapper {
    max-width: 116.0rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.w320 {width: 32.0rem;}
.w266 {width: 26.6rem;}
.w260 {width: 26.0rem;}
.w196 {width: 19.6rem;}
.w150 {width: 15rem;}
.w99 {width: 9.9rem;}
.w87 {width: 8.7rem;}