body {
    background-color: $white;
}

body, h1, h2, h3, h4, h5, h6, p, button, li, ul, figure, blockquote {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    border: none;
    background-color: $white;
}

input, button {
    font-family: inherit;
}

a {
    text-decoration: none;
}

 
