extends ../_layoutpromo.pug

block title 
    title Headers & Footers

block content 
    include ../../blocks/header/_header.pug
    include ../../blocks/footer/_footer.pug

    +header('anonim', 'hf__item')
    +header('Юлий Цезарь', 'hf__item')

    +footer('hf__item footer_desktop')
    
    .mobile.hf__item
        .footer__bottom
                .page-wrapper 
                    +homepage('footer__logo')
                    span.text Copyright © 2018 Toxin отель. Все права защищены.
                    +social-icons(data.toxinLinks.socials, 'footer__social')