@import '../../styles/_styles.scss';
@import '../../blocks/header/_header.scss';
@import '../../blocks/footer/_footer.scss';
@import '../../blocks/libs/nav-header/_nav-header.scss';

body {
    background-color: $litegray;
}

.hf__item {
    margin-top: -0.5rem;
    margin-bottom: 3.6rem;
}

.footer_desktop {
    margin-top: 3.9rem;
    box-shadow: 0 1rem 2rem $dark5;
}

.mobile {
    background: $white;
    max-width: 76.8rem;
    margin-top: 0;
    margin-bottom: 14rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1rem 2rem $dark5;

    .footer__bottom {
        border-top: 0.1rem solid $dark10;
        padding: 2.3rem 0;

        .page-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* @media (max-device-width: 768px) */
                height: 32.2rem;
                flex-direction: column;
                justify-content: center;

            .footer {
                &__logo {
                    display: none;
                    /* @media (max-device-width: 768px) */
                        display: block;
                        margin-bottom: 1.8rem;
                }
                &__social {
                    /* @media (max-device-width: 768px) */
                    margin-top: 2rem;
                }
            }
        }
    }
}