@import '../../styles/_styles.scss';
@import '../../blocks/header/_header.scss';
@import '../../blocks/footer/_footer.scss';

body {
    background-color: $litegray;
}

.hf__item {
    margin-bottom: 40.0px;

    &:first-of-type {
        margin-top: -3.0px;
    }
    .page-wrapper {
        padding-left: 17.0px;
    }
}

.footer_desktop {
    box-shadow: 0 10.0px 20.0px $dark5;
}

.mobile {
    background: $white;
    max-width: 768.0px;
    margin-top: 0;
    margin-bottom: 140.0px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 10.0px 20.0px $dark5;

    .footer__bottom {
        border-top: 1.0px solid $dark10;
        padding: 23.0px 0;
        
        /* @media (max-device-width: 768px) */
            padding: 119.0px 0;
            height: 367.0px;
            box-sizing: border-box;

        .page-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            /* @media (max-device-width: 768px) */
                flex-direction: column;
                height: 100%;

            .footer {
                &__logo {
                    display: none;
                    /* @media (max-device-width: 768px) */
                        display: block;
                }
            }
        }
    }
}