include ../dropdawn/_dropdawn.pug
include ../datepicker/_datepicker.pug
include ../filter-options/_filter-options.pug
include ../btn/_btn.pug

mixin form-search(cls='')
    form.form-search(action= data.toxinLinks.internal.SearchRoomFilter.url, class=`${cls}`)
        legend.title-1.form-search__title Найдём номера под ваши пожелания
        +dropdawn('searchDateFrom', 'Прибытие', 'form-search__date')
            +datepicker('searchDatepickerFrom')
        +dropdawn('searchDateTo', 'Выезд', 'form-search__date', 'r')
            +datepicker('searchDatepickerTo')
        +dropdawn('searchGuests', 'Гости', 'form-search__guests')
            +filter-options('searchGuestsFilter', ['Взрослые', 'Дети', 'Младенцы'], '', 'c')
        +btn('Подобрать номер', 'form-search__btn btn_theme_purple btn__arrow', 'submit')
