mixin range-slider(title)
    .range-slider 
        h3.title-3.range-slider__title= title 
        span.range-slider__legend(id='range-legend')
        .range-slider__slider(id='range-slider')


        //- span.range-slider__legend
        //-     span.legend__val= min 
        //-     span.legend__val= max 
        