include ../text-field/_text-field.pug
include ../radio/_radio.pug
include ../toggle/_toggle.pug
include ../btn/_btn.pug

mixin form-user(type, cls='')
    if type === 'n'
        form.form-user(action="#", method="post", class=`${cls}`)
            legend.title-1.form-user__title Регистрация аккаунта
            +text-field('', 'text', 'name', 'Имя', 'form-user__item')
            +text-field('', 'text', 'surname', 'Фамилия', 'form-user__item')
            +radio('sex', sexSelect, 'form-user__item')
            +text-field('Дата рождения', 'text', 'birthday', 'ДД.ММ.ГГГГ', 'form-user__item item__title')
            +text-field('Данные для входа в сервис', 'email', 'email', 'Email', 'form-user__item item__title')
            +text-field('', 'password', 'password', 'Пароль', 'form-user__item')
            +toggle('Получать спецпредложения', 'mailing', 'form-user__item item__toggle')
            +btn('Зарегистрироваться', 'btn_theme_purple btn__arrow w320 form-user__btn', 'submit')
        .form-user__footer 
            span.text Уже есть аккаунт на Toxin
            +btn('Войти', 'btn_theme_ligth w99')

    else if type === 'l'
        form.form-user(action="#", method="post", class=`${cls}`)
            legend.title-1.form-user__title Войти
            +text-field('', 'email', 'email', 'Email', 'form-user__item')
            +text-field('', 'password', 'password', 'Пароль', 'form-user__item')
            +btn('Войти', 'btn_theme_purple btn__arrow w320 form-user__btn', 'submit')
        .form-user__footer 
            span.text Нет аккаунта на Toxin?
            +btn('Создать', 'btn_theme_ligth w99')