@import '../../styles/_styles.scss';
@import '../../blocks/libs/card/card';
@import '../../blocks/libs/form-search/form-search';
@import '../../blocks/libs/form-booking/form-booking';
@import '../../blocks/libs/form-user/form-user';
@import '../../blocks/libs/datepicker/datepicker';
@import '../../blocks/libs/room-card/room-card';

body {
    background-color: $litegray;
}

.cards {
    margin-top: 6.0px;
    height: 1120.0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40.0px 40.0px;

    &__item {
        &.item__datepicker {
            margin-top: 0;
        }
    }
}