extends ../_layout.pug

block title 
    title Cards

block content 
    .header
        a(href="./index.html") 
            img(src=require("../../images/logo_toxin_mini.svg"), alt="toxin")
        main
            +card('card__search')
                +form-search()
            +card('card__booking')
                +form-booking(888, 'люкс', '9 990')
            +datepicker('datepicker')
            +card('card__registration')
                +form-user('n')
            +card('card__login')
                +form-user('l')
            +room-card(888, 'люкс', '9 990', 5, 145)
            +room-card(840, '', '9 990', 4, 65)