extends ../_layoutpromo.pug

block title 
    title Cards

block content 
    include ../../blocks/libs/card/_card.pug
    include ../../blocks/libs/form-search/_form-search.pug
    include ../../blocks/libs/form-user/_form-user.pug
    include ../../blocks/libs/form-booking/_form-booking.pug
    include ../../blocks/libs/datepicker/_datepicker.pug
    include ../../blocks/libs/room-card/_room-card.pug

    main.cards.page-wrapper
        +card('cards__item')
            +form-search()
        +card('cards__item')
            +form-user('n')
        +card('cards__item')
            +form-booking(888, 'люкс', '9 990')
        +card('cards__item')
            +form-user('l')
        +datepicker('datepicker', 'cards__item item__datepicker')
        +room-card(888, 'люкс', '9 990', 5, 145, 'cards__item')
        +room-card(840, '', '9 990', 4, 65, 'cards__item')