extends ../_layout.pug

block title 
    title Cards

block content 
    //- +header
    //-     block nav 
    //-         +nav-header('О нас', navHeader, 'header__nav')

    //- br
    //- +header('Юлий Цезарь')
    //-     block nav 
    //-         +nav-header('Вакансии', navHeader, 'header__nav')
    //- br
    //- +footer
        

    //- +room-card(840, 9900, 4, 65)
    //- br
    //- +bookig('888', 'люкс', '9 990')
    //- +range-slider('fvkaj')