include ../libs/btn/_btn.pug
include ../libs/homepage/_homepage.pug

mixin header(user='anonim', cls='')
    header(class=`${cls}`)
        .header.page-wrapper
            +homepage('#', 'header__logo')
            
            block
            
            if user === 'anonim'
                +btn('Войти', 'header__btn btn_theme_ligth w87')
                +btn('Зарегистрироваться', 'header__btn btn_theme_purple w196')
            else 
                span.header__user.text= user