@import '../libs/btn/_btn.scss';
@import '../libs/homepage/_homepage.scss';

.header {
    padding: 1.5rem 0;
    background: $white;
    box-shadow: 0 1rem 2rem $dark5;

    .page-wrapper {
        min-height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo{
        margin-right: auto;
    }

    &__nav{
        margin-right: 2.2rem;
    }

    &__user{
        padding-left: 2rem;
        height: 3rem;
        line-height: 3rem;
        border-left: 0.1rem solid $dark10;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        &:last-of-type {
            margin-left: 1.8rem;
        }
        &.btn {
            height: 3.4rem;
        }
    }
}